<h1>Sideking Demo</h1>

<%= form_with url: jobs_path do |form| %>
  <%= form.button "Enqueue jobs", class: "btn btn-primary" %>
<% end %>

<div>
  <%= link_to "View jobs in Sidekiq Dashboard", "/sidekiq" %>
</div>
